*.ipch
*.db
src/Debug
src/Release
src/x64
Debug
Release
x64
out
*.aps
*.vs
*.vcxproj.user
*.opendb
__pycache__
.idea
.vscode
tmpBuildFiles
@Pythia
bin
*.log
*.log.*
*.rar
*.zip
*.exe
*.dll
build
ninja
ninja64
vcproj
vcproj64
tools/cache
