*.ipch
*.db
src/Debug
src/Release
src/x64
Debug
Release
x64
*.aps
*.vs
*.vcxproj.user
*.opendb
__pycache__
.idea
.vscode
tmpBuildFiles
@Pythia/Pythia.dll
@Pythia/Pythia_x64.dll
@Pythia/PythiaSetPythonPath.dll
@Pythia/PythiaSetPythonPath_x64.dll
@Pythia/PythiaTester.exe
@Pythia/PythiaTester_x64.exe
@Pythia/python-embed-*
@Pythia/python-*-embed-*
bin
*.log
*.log.*
*.rar
*.zip
*.exe
*.dll
build
ninja
ninja64
vcproj
vcproj64
